# HTTP: redirect all traffic to HTTPS
server {
    listen 80;
    server_name immersive-analytics-for-energy-grid-data.uksouth.cloudapp.azure.com;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 200 "OK";
    }
}
